# Production env variable definitions
.environment

# jekill configurations and temporary files
_config.dev.yml
_site
.sass-cache

# ruby temfiles
Gemfile.lock
_asset_bundler_cache
codekit-config.json

# Sublimetext tempfiles
*.sublime-project
*.sublime-workspace

# Node tempfiles
node_modules

# Mac tempfiles
.DS_Store

# misc
.jekyll-cache

