a.collapsible.active:before {
    content: "▲";
    vertical-align: super;
    font-size: 80%;
}​

a.collapsible {
  content: "▲";
  vertical-align: super;
  font-size: 80%;
}

a.collapsible.inactive:before {
  content: "▼";
  vertical-align: super;
  font-size: 80%;
}

div.collapsible {
  display: none;
  background: #F2F2F2;
}

div.collapsible.active {
  display: block;
  background: #F2F2F2;
}
